@import "../../styles/colors";

.login-form-checkbox {
	margin-top: 1.25rem;
}

.login-form-button {
	margin-top: 1.25rem;
	text-align: center;
}

.login-form-link { 
	margin-top: .875rem;
	text-align: center;
	color: $primary-color;
	font-size: .875rem;

	a {
		color: $primary-color;
		font-weight: 600;
	}
}