@import "../../styles/colors";

.input-content {
	display: flex;
	align-items: center;
	
	border: 2px solid $border-color;
	border-radius: .25rem;
	padding: .9375rem .75rem;
	gap: .3125rem;
	transition: border 100ms;

	p {
		font-weight: 500;
		color: $text-base;
	}

	input {
		color: $text-base;
		flex: 1;
		
	}

	&placeholder{
		color: $text-base;
		font-family: 'Roboto', sans-serif;
	}
}

.input-content:focus-within {
	border: 2px solid $primary-color;

}



.input-wrapper {
	width: 100%;
}

.input-pass {
	margin-top: 1.25rem;
}


